
<div class="banner">
    <ul>
        <li>
         <img src="https://res.cloudinary.com/dyew1z2ms/image/upload/v1606430218/Portfolio/02pilot_jrdoxn.png">
         </li>
        <li>
        <img src="https://res.cloudinary.com/dyew1z2ms/image/upload/v1606430226/Portfolio/portfolio-wordpress_loaycg.png">
        </li>
        <li>
            <img src="https://res.cloudinary.com/dyew1z2ms/image/upload/v1606430218/Portfolio/blog_qjnq1g.png">        
        </li>
    </ul>
</div>